.header {
    text-align: center;
}

.grid {
    display:grid;
    height:750px;
    width: 750px;
    padding:20px 100px 20px 0px;
    margin: auto;
}
.grid-square {
    border:.1px solid rgb(95, 95, 95);
}

.options {
    margin:100px 0px 20px 100px;
    border:2px solid black;
    width: fit-content;
    padding:20px;
    float:left;
    border-radius: 15px;
}
.options > h2 {
    text-align:center
}

.footer {
    text-align: center;
    background-color: black;
    color:white;
    margin:none;
    padding:20px;
}